<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.Tosche.ShowBlackFill</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ShowBlackFill</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/Tosche/ShowBlackFill/master/ShowBlackFill.glyphsReporter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/Tosche/ShowBlackFill</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Toshi Omagari, 2014</string>
	<key>productReleaseNotes</key>
	<string>Glyphs 3, Python 3, latest SDK, Dark-Mode enabled.</string>
	<key>NSPrincipalClass</key>
	<string>ShowBlackFill</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
